

<div class="content-md container">
    <div class="heading heading-v1">
        <h2>About Us</h2>
    </div>
    <div class="tab-v6">
        <div class="tab-content">
            <!-- Description -->
            <div class="tab-pane fade in active" id="description">
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            LUQMAN TRADERS one of the prestigious and renowned Trading Company in Pakistan. Founded in 1988 as a family bussiness,
                            and registered as a professional company in 1999. Since then we have developed a reputation for excellent service and a depth of seating-comfort knowledge that just can’t be surpassed.
                            Over the years we’ve got to know what makes a good chair and have worked closely with designers and upholsterers to supply what
                            you will find to be the largest range of chairs in Pakistan. Under the Supervision of Mr. Ahsan malik,
                            The Proprietor of the firm, The Company is in action and being known as one of the top class Trading Company in the region from last decade.
                            LUQMAN TRADERS is busy in entertaining and satisfying their customers by doing job in highly professional manner. <br/>
                            Behind the whole success of LUQMAN TRADERS there is a huge support of RAHAT & CO.(since 2014) and
                            LUCKY STEEL WORKS (since 1990), as they make us capable of delivering success by designing and manufacturing desired products to serve the customers.
                            <br/>
                            <br/>
                            <strong>Sole Distributors :</strong>
                            LUQMAN TRADERS has good network of suppliers and the relationship with them is strengthen with the help of sole distribution agreement.
                            This act helped both buyer and seller to work together as a combined unit for the prosperity of a mutual beneficial trade.
                        </p><br>
                    </div>
                    <div class="col-md-5">
                        <div class="responsive-video">
                            <iframe src="//player.vimeo.com/video/72343553" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
