<div class="content-md margin-bottom-10">
    <div class="container">
        <div class="heading heading-v1 margin-bottom-20">
            <h2>Our Traits</h2>
            <p>
                Assalam-u-alaikum! <i class="fa fa-smile-o"></i>
            </p>
            <p class="text-left">
                Here is a small effort from some pakistanis, we are categorizing every pakistani products against every imported product, to promote local products. Often In our daily life, we protest to bycott this and that as those are foreign products and his owner is non-muslim blah blah blah.
                There should be a permanent solution and platform on which we can see the replacements of foreign products in the form of local products
                By using local products, we will have two main benefits
            </p>
            <ul class="text-left">
                <li>
                    It will increase export, and decrease import
                </li>
                <li>
                    Our industry will stand up
                </li>
            </ul>
            <p class="text-left">
                By increasing export we can solve our financial problem a bit, and this is one of the way to increase our export. This list is very short, you can help us to get it complete.
                PAKISTAN ZINDABAD!!
            </p>
        </div>
        <form class="shopping-cart" action="#">
            <div>
                <section>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Pakistani Products</th>
                                    <th>Imported Products</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/PIA.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Airlines</h3>
                                            <span>PIA</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-airlines.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Airlines</h3>
                                            <span>Blue airlines, shaheen airlines</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/bold.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Body sprays</h3>
                                            <span>Bold</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-body-spray.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Body sprays</h3>
                                            <span>Fogg, Axe</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-soap.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Soap</h3>
                                            <span>Capri, Skin white</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-soap.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Soap</h3>
                                            <span>Dove, Lux</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/dalda.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cooking Oil</h3>
                                            <span>Dalda</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-cooking-oil.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cooking Oil</h3>
                                            <span>Rafhan, Eva</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/golden-pearl.jpeg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cream</h3>
                                            <span>Golden pearl</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-creams.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cream</h3>
                                            <span>Ponds, Fair & lovely</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/lemon-max.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Washer</h3>
                                            <span>Lemon max</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/vim.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Washer</h3>
                                            <span>Vim</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/madicam-tooth-paste.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tooth paste</h3>
                                            <span>Madicam</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tooth paste</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-powder.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Powder</h3>
                                            <span>Tibet, Eden roc</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Powder</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-shampoo.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Shampoo</h3>
                                            <span>Head & shoulder, Bio amla</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-shampoo.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Shampoo</h3>
                                            <span>Sunsilk, Clear</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-tea.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tea</h3>
                                            <span>Danedar, Vital</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/supreme-tea.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tea</h3>
                                            <span>Supreme</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-tomatto-ketchup.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Ketchup</h3>
                                            <span>National tomatto</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/knorr-tomato-ketchup.png" alt="">
                                        <div class="product-it-in">
                                            <h3>Ketchup</h3>
                                            <span>Knorr tomatto</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/nexton-baby-products.PNG" alt="">
                                        <div class="product-it-in">
                                            <h3>Baby products</h3>
                                            <span>Nexton</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/johnson-baby-products.PNG" alt="">
                                        <div class="product-it-in">
                                            <h3>Baby products</h3>
                                            <span>Johnson</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/nurpur-butter.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Butter</h3>
                                            <span>Nurpur</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/blue_band_butter.png" alt="">
                                        <div class="product-it-in">
                                            <h3>Butter</h3>
                                            <span>Blueband</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/olivia-hair-color.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Hair color</h3>
                                            <span>Olivia</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-hair-color.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Hair color</h3>
                                            <span>Godreg, Kuene</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/osaka.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Battery</h3>
                                            <span>Osaka</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Battery</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/pso.png" alt="">
                                        <div class="product-it-in">
                                            <h3>Petrol</h3>
                                            <span>PSO</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/shell.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Petrol</h3>
                                            <span>Shell</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/Saeed-Ghani-brown-mehndi.png" alt="">
                                        <div class="product-it-in">
                                            <h3>Mehndi</h3>
                                            <span>Saeed ghani</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Mehndi</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/shan-shoop-chicken-noodles-gomart-pakistan.png" alt="">
                                        <div class="product-it-in">
                                            <h3>Noodles</h3>
                                            <span>Shan shoop</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-noodles.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Noodles</h3>
                                            <span>Knorr, Maggi</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/shield-brush.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tooth brush</h3>
                                            <span>Sheild</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Tooth brush</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/sufi-soap.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Soap</h3>
                                            <span>Sufi soap</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Soap</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/super-cleaner.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cleaner</h3>
                                            <span>Super</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/harpic.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cleaner</h3>
                                            <span>Harpic</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/treet.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Blade</h3>
                                            <span>Treet</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/gillete.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Blade</h3>
                                            <span>Gillete</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/adam-s-yoghurt.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Yogurt</h3>
                                            <span>Adam's</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/nestle-yogurt.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Yogurt</h3>
                                            <span>Nestle</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/cool-cool-cotton-buds.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Buds</h3>
                                            <span>Cool & cool</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Buds</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/cool-cool.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Vivamus ligula</h3>
                                            <span>Sed aliquam tincidunt tempus</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Vivamus ligula</h3>
                                            <span>Sed aliquam tincidunt tempus</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/dawlance-products.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Vivamus ligula</h3>
                                            <span>Sed aliquam tincidunt tempus</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Vivamus ligula</h3>
                                            <span>Sed aliquam tincidunt tempus</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/haleeb-cream.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cream</h3>
                                            <span>Haleeb</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/milkpack.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Cream</h3>
                                            <span>Milk pack</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-bakery.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Bakery</h3>
                                            <span>Doce, Malmo, Gourmet</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-bakery.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Bakery</h3>
                                            <span>Dawn, Bunny's</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-sound.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Speaker</h3>
                                            <span>Audionic, AMB</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/img/question-mark.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Speaker</h3>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/national-water.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Water</h3>
                                            <span>Gourmet, Aqua</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/foreign-water.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Water</h3>
                                            <span>Nestle, Dasani</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/national-products/olpers.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Milk</h3>
                                            <span>Olpers</span>
                                        </div>
                                    </td>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="~/Images/foreign-products/milkpack.jpg" alt="">
                                        <div class="product-it-in">
                                            <h3>Milk</h3>
                                            <span>Milk pack</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>