/* Add here all your css styles (customizations) */

.header-fixed .header-v5.header-fixed-shrink {
    top: 23px;
    height: 75px;
}

.btn-green {
  color: #fff;
  background-color: #18ba9b;
  border-color: #18ba9b;
}

.log-reg-v3 .login-input input#Item_IsLatest {
    height: 25px;
    margin: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.height-368 {
    height: 368px !important;
}

.a-as-button {
    color: white !important;
    text-decoration: none !important;
}

.white {
    color: white !important;
}